<?xml version="1.0"?>
<launch>

	<node name="vision" pkg="whitechocolate" type="vision_node.py" output="screen">
    </node>
    <node name="estimator" pkg="whitechocolate" type="estimation_node.py" output="screen">
    </node>
    <node name="controller" pkg="whitechocolate" type="escontroller_node.py" output="screen">
    </node>

</launch>